# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Garbage file inherated from even-parity code
J_vector*
dPhi_ext*
out_test*

# Backup file
*.bak