# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Garbage files inherated from even-parity code
J_vector*
dPhi_ext*
out_test*

# Backup files
*.bak

# Solution files
*.vtk